<div class="container">
    <div class="row">
        <div class="col-sm-12 register">
            <h1 class="text-center">Clever Investing makes Your Money Grow</h1>
            <h4 class="text-center"> Please choose Account type. </h4>
            
                <div class="download-block text-center">
                   <a routerLink="/issuer" class="btn-issuer">ISSUER</a><a routerLink="/investor" class="btn-investor">INVESTOR</a>
                 
            </div>
        </div>
    </div>
</div>